* {
    /* reset */
    margin: 0;
    padding: 0;
}

body {
	background-color: #232426;

}

.container {
	/* border: solid 1px red; */
	width: 100%; 
   width: 100vw;
   position: relative;
}

#movies-container {
	padding-top: 30px;
}

.hero-background {
	top: 0; 
	height: 300px;
	width: 100vw;
	position: absolute;
	
background: rgb(26,26,27);
background: linear-gradient(353deg, rgba(26,26,27,1) 4%, rgba(121,9,62,1) 50%, rgba(230,0,0,1) 100%);
}

.watchlist-hero {
	top: 57px; 
	height: 130px;
	width: 100vw;
	position: absolute;
	
background: rgb(26,26,27);
background: linear-gradient(353deg, rgba(26,26,27,1) 4%, rgba(121,9,62,1) 50%, rgba(230,0,0,1) 100%);
}

.list-icon {
	padding-right: 6px;
	margin-top: -2px;
}

h6 {
	color: grey;
	font-size: 13px;	
}

h5 {
	font-size: 15px;
	color: white;
	margin-top: -5px;
}

.display-2 {
	color: white !important;
	font-size: 50px;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.nav-bar {
	/* border: solid 2px red; */
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 30px;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
}

.logo {
	border: solid 1px red;

}

.watchlist-link {
	margin-top: 5px;
	/* border: solid 1px red; */

}

.results {
	margin-top: 20px;
}

.results {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row; 
	justify-content: center;
	/* s */
}

#movies-container {
	padding-top: 58px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	/* border: solid blue 2px;  */

}

.movie-title {
	padding-top: 10px;
}

.card {
	background-color: #3b3736;
	height: 97%;
	margin: 8px;
	padding: 3px !important;

}

.card-body {
	padding: 5px 5px 12px 5px !important;
}

.releasedate-container {
	color: grey;
	padding-top: -8px;
	height: 20px;
}

.search-bar {
	border-radius: 0px;
	
}

.search-row {
	display: flex;
	justify-content: center;
}

input.form-control.search-bar {
	border-radius: 30px;
	padding-bottom: 13px;
	
}

button.add-btn {
	background-color: #e60024 !important; 
	border-radius: 30px !important;
	color: white;
	width: 70px;
	height: 30px;
	vertical-align: middle;
	font-size: 15px;
	border: none;
	/* margin-top: -8px; */
	padding: 2px 20px 2px 20px; 
}

.btn-primary.input-group-btn {
	background-color: #e60024 !important; 
	border-radius: 30px !important;
	border: none;
	margin-left: -18px;
	width: 110px;
}

.btn-row {
	display: flex;
	justify-content: flex-end;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 15px;
	padding-left: 10px;
	
  }
  ::-moz-placeholder { /* Firefox 19+ */
	font-size: 15px;
	padding-left: 10px;
	
  }
  :-ms-input-placeholder { /* IE 10+ */
	font-size: 15px;
	padding-left: 10px;
	
  }
  :-moz-placeholder { /* Firefox 18- */
	font-size: 15px;
	padding-left: 10px;
	
  }

  a:link {
	color: white;
	text-decoration: none;
  }

  a:visited {
	text-decoration: none;
	color: white;
  }

